---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_key>&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 16:39:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_key>&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=501227776"}]}]}'
  recorded_at: Mon, 15 Nov 2021 16:39:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636994389,"sunrise":1636980037,"sunset":1637015399,"temp":33.6,"feels_like":28.94,"pressure":1021,"humidity":61,"dew_point":22.78,"uvi":1.15,"clouds":90,"visibility":10000,"wind_speed":5.01,"wind_deg":284,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1636992000,"temp":33.89,"feels_like":28.31,"pressure":1021,"humidity":58,"dew_point":21.97,"uvi":0.82,"clouds":92,"visibility":10000,"wind_speed":6.22,"wind_deg":255,"wind_gust":8.14,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1636995600,"temp":33.6,"feels_like":27.61,"pressure":1021,"humidity":61,"dew_point":22.78,"uvi":1.15,"clouds":90,"visibility":10000,"wind_speed":6.73,"wind_deg":248,"wind_gust":8.95,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1636999200,"temp":34.36,"feels_like":28.06,"pressure":1021,"humidity":57,"dew_point":21.99,"uvi":1.25,"clouds":92,"visibility":10000,"wind_speed":7.43,"wind_deg":242,"wind_gust":9.26,"weather":[{"id":80[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-03hWHhY1Zv1NfbAfrA6bvvQ9BJM"
    body:
      encoding: UTF-8
      string: '{"activity":"Teach your dog a new trick","type":"relaxation","participants":1,"price":0.05,"link":"","key":"1668223","accessibility":0.15}'
  recorded_at: Mon, 15 Nov 2021 16:39:52 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96-UkxZxX6iv5TkIAEGIxDPVotA6w8"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a cookbook with your favorite recipes","type":"cooking","participants":1,"price":0,"link":"","key":"1947449","accessibility":0.05}'
  recorded_at: Mon, 15 Nov 2021 16:39:55 GMT
recorded_with: VCR 6.0.0
