---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-g4sQTGksgcne7DJnVlu9G9xZ66Y"
    body:
      encoding: UTF-8
      string: '{"activity":"Write a list of things you are grateful for","type":"relaxation","participants":1,"price":0,"link":"","key":"2062010","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:14:44 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-rJtxNy8qbAQZGrPA/daB3+iLmyc"
    body:
      encoding: UTF-8
      string: '{"activity":"Make a to-do list for your week","type":"busywork","participants":1,"price":0,"link":"","key":"5920481","accessibility":0.05}'
  recorded_at: Mon, 15 Nov 2021 18:14:46 GMT
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-/iskL7csf+rri6kj+j8Z78NOiHo"
    body:
      encoding: UTF-8
      string: '{"activity":"Organize your movie collection","type":"busywork","participants":1,"price":0,"link":"","key":"6378359","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:14:52 GMT
recorded_with: VCR 6.0.0
