---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e-G/XsFW2gYOHwllC2L66f96WE6OA"
    body:
      encoding: UTF-8
      string: '{"activity":"Go on a long drive with no music","type":"relaxation","participants":1,"price":0.1,"link":"","key":"4290333","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 18:14:55 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87-hsxLgcK2hy3Uoj6B8IUqnKqF1fc"
    body:
      encoding: UTF-8
      string: '{"activity":"Bake a pie with some friends","type":"cooking","participants":3,"price":0.3,"link":"","key":"3141592","accessibility":0.3}'
  recorded_at: Mon, 15 Nov 2021 18:14:58 GMT
recorded_with: VCR 6.0.0
